* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 版心样式 */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    height: 70px;
    line-height: 70px;
    padding-top: 16px;
}

.header ul {
    display: flex;
}

.header ul>li {
    padding: 30px 30px 30px;
}

/* banner */
.banner {
    width: 100%;
}

.banner a img {
    width: 100%;
    height: auto;
}

.main {
    /* width: 100%; */
    background-color: #f7f8f9;
}

.main ul li {
    float: left;
    margin-right: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #fff;
}

.main ul li:last-child {
    float: left;
    margin-right: 0px;
}

.main ul li img {
    width: 382px;
    height: 230px;
}

.main ul li .title {
    text-align: center;
    font-size: 16px;
    color: #333333;
}

.main ul li .text {
    text-align: center;
    font-size: 12px;
    color: #666666;
}

.main ul li .detail {
    text-align: center;

}